@charset "UTF-8";
/*!
global > color
------------------------------
*/
/* SemanticColors */
:root {
  /* color */
  --color-base-white: #fff;
  --color-step-border: var(--colors-gray-500, #6b7280);
  --color-title-icon: var(--color-camellia-orange-50, #ffb67d);
  --color-primary-hover: var(--color-main-200, #e06c00);
  --color-primary-link: #002e5b;
  --color-secondary-hover: var(--color-gray100, #f0f0f0);
  --color-btn-base: var(--color-main-100, #ff8526);
  --color-btn-shadow: var(--color-main-50, #ffb67d);
  --color-btn-shadow__inBG: var(--color-main-200, #e06c00);
  --color-header-logo: var(--color-main-100, #ff8526);
  --color-header-base: #fff;
  --color-header-color: var(--color-gray900, #111827);
  --color-header-logo: var(--color-main-100, #ff8526);
  --color-footer-base: var(--color-base-pale-main, #ffe2cc);
  --color-text-default: var(--color-gray900, #111827);
  --color-text-gray: var(--color-gray500, #6b7280);
  --color-text-main: var(--color-main-100, #ff8526);
  --color-text-inBG: #fff;
  --color-title-step: var(--color-main-200, #e06c00);
  --base-grad-cta: linear-gradient(260deg, #ffbd54 0%, #ff8526 35.5%);
}

[data-theme=base-dark] {
  /* color */
  --color-header-logo: var(--color-base-01, #ffffff);
  --color-step-border: #ffffff;
  --color-title-icon: #ffffff;
  --color-primary-hover: var(--color-gray300, #d1d5db);
  --color-primary-link: #ffffff;
  --color-btn-base: var(--color-base-01, #ffffff);
  --color-btn-btnbase-2: var(--color-base-01, #ffffff);
  --color-btn-shadow: var(--color-main-200, #e06c00);
  --color-btn-shoulder: var(--color-base-01, #ffffff);
  --color-btn-txt: var(--color-main-100, #ff8526);
  --color-header-base: #ffffff00;
  --color-header-color: var(--color-base-01, #ffffff);
  --color-header-logo: var(--color-base-01, #ffffff);
  --color-text-default: var(--color-base-01, #ffffff);
  --color-text-gray: var(--color-gray500, #6b7280);
}

/*!
global > content-width
containerのmax-width
------------------------------
*/
:root {
  --content-width-s: 920px;
  --content-width: 1140px;
  --column2-min-width: 310px;
  --siteWidth-max-width: 1920px;
}

.siteWidth {
  max-width: var(--siteWidth-max-width, 1920px);
  margin-right: auto;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-gothic: YakuHanJPs, "Noto Sans JP", sans-serif;
  --font-family-mincho: YakuHanMPs, "Noto Serif JP", serif;
  --font-family-english: "Lato", sans-serif;
  /* 数字フォント */
  --font-family-price-01: DIN Condensed;
  --font-family-price-02: Futura PT;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-default: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.375rem; /* 22px */
  --font-size-cap-05: 1.5rem; /* 24px */
  --font-size-cap-04: 1.75rem; /* 28px */
  --font-size-cap-03: 2.25rem; /* 36px */
  --font-size-cap-02: 3rem; /* 48px */
  --font-size-cap-01: 3.75rem; /* 60px */
  --font-size-cap-lg01: 4.5rem; /* 72px 5vw */
  --font-size-cap-xl01: 6rem; /* 96px */
  --font-size-cap-xl02: 8rem; /* 128px */
}

/*!
global > g-block
　コンテンツブロック共通の変数
------------------------------
*/
/* block */
:root {
  --block-padding: 6rem; /* 72px */
  --block-padding-s: 1rem; /* 16px */
  --min-gap: 1.2rem; /* 18px */
  --gap: 3vw; /* 36px */
  --gap-sp: 3rem; /* 36px */
  --contents-gap: max(7vw, 3rem); /* 48px：3rem以上の7％幅 */
  --contents-gap-lg: 11vw; /* 132px */
  --row-gap: 2rem;
}

/* radius */
:root {
  --radius-box-xs: 4px;
  --radius-box-sm: 8px;
  --radius-mini-tag: 10px;
  --radius-card-md: 15px;
  --radius-card-xl: 40px;
  --radius-btn-round: 50px;
  --radius-circle: 100px;
}

/*!
foundation > reset
ress.min.cssに不足のもの追加
------------------------------
*/
html {
  overflow: auto;
  height: 100%;
}

body {
  overflow: hidden;
  min-width: 100%;
}

nav ul li {
  margin-left: 0;
  padding: 0;
  list-style: none !important;
}

nav ol,
nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
h3 {
  font-weight: normal;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.8;
  font-size: 16px;
  color: var(--color-font-base);
  font-family: var(--font-family-gothic);
}
@media screen and (min-width: 1080px) {
  body {
    font-size: 16px;
  }
}

/*!
animation > text-animation
------------------------------
*/
.has-animation-title-fade-in {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.is-animation-title-fade-in-active {
  opacity: 1;
}

.anim_box.slidein.is-animated {
  -webkit-animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
          animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40%, 100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40%, 100% {
    opacity: 1;
  }
}
/*!
animation > fade_in
opacityで出現、フェード系
------------------------------
*/
/* -------------------------------------
scroll-fadeup：スクロールしたらフェイドアップ
intersectionObserverAPIを使用
--------------------------------------- */
.scroll-fadeup {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
}

/* アニメーション後のスタイル */
.scroll-fadeup.fadeUP {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

/* -------------------------------------
　ちりつきありフェード
--------------------------------------- */
.fade_in {
  -webkit-animation-name: fadeInAnim 1s forwards;
          animation-name: fadeInAnim 1s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 下から上へイン */
.fade_up {
  -webkit-animation: fadeUpAnim 0.5s forwards;
          animation: fadeUpAnim 0.5s forwards;
  opacity: 0;
  will-change: transform, opacity;
}

@-webkit-keyframes fadeUpAnim {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUpAnim {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* 上から下へへイン */
.fade_down {
  -webkit-animation: fadeDownAnim 0.5s forwards;
          animation: fadeDownAnim 0.5s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeDownAnim {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDownAnim {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* 左からイン */
.fade_L_in {
  -webkit-animation: fadeLeftAnim 0.5s forwards;
          animation: fadeLeftAnim 0.5s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeLeftAnim {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeLeftAnim {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/* 右からイン */
.fade_R_in {
  -webkit-animation: fadeRightAnim 0.5s forwards;
          animation: fadeRightAnim 0.5s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeRightAnim {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRightAnim {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.dl.scroll_features {
  opacity: 0;
} /* スタート時は要素自体を透過0にするためのopacity:0;を指定する */
/* スタートの順番の遅延時間CSS追加 */
.scroll_features.delay0 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.scroll_features.delay1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.scroll_features.delay2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

/*!
animation > scrolldown
FV内のスクロールダウン:線が上から下に動く 
------------------------------
*/
.wrap_scrolldown {
  position: relative;
}

.scrolldown1 {
  position: absolute;
  bottom: 4vh;
  left: 97%;
  height: 50px;
}

/* Scrollテキスト */
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  top: -38px;
  left: -22.5px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
  font-family: Quicksand;
  font-size: 0.7rem;
  rotate: 90deg;
}
@media screen and (min-width: 900px) and (max-width: 1080px) {
  .scrolldown1 span {
    color: var(--color-main);
  }
}

/* 線の描写 */
.scrolldown1::after {
  /*描画位置*/
  position: absolute;
  top: -44px;
  width: 1px;
  height: 56px;
  content: "";
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
  background: #fff;
}
@media screen and (min-width: 900px) and (max-width: 1080px) {
  .scrolldown1::after {
    background: var(--color-main);
  }
}

/* 線が上から下に動く */
@-webkit-keyframes pathmove {
  0% {
    top: 0;
    height: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    height: 0;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    top: 0;
    height: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    height: 0;
    opacity: 0;
  }
}
/*!
animation > scroll_slide_in
#intro01 と #intro02 要素が特定のスクロール位置に達したときに、それぞれ右からと左から入ってくるアニメーション
------------------------------
*/
@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.scroll-animation.right {
  -webkit-animation: slideInFromRight 0.75s ease-out forwards;
          animation: slideInFromRight 0.75s ease-out forwards;
}

.scroll-animation.left {
  -webkit-animation: slideInFromLeft 0.75s ease-out forwards;
          animation: slideInFromLeft 0.75s ease-out forwards;
}

/* アニメーションの遅延を設定 */
#intro01.scroll-animation {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#intro02.scroll-animation {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/*!
utility > utility
------------------------------
*/
@media screen and (min-width: 1080px) {
  .u-spOnly {
    display: none !important;
  }
}

.u-pcOnly {
  display: none !important;
}
@media screen and (min-width: 1080px) {
  .u-pcOnly {
    display: block !important;
  }
}

.break_keep {
  word-break: keep-all;
  overflow-wrap: break-word;
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.MDonly {
  display: block;
}
@media screen and (min-width: 800px) {
  .MDonly {
    display: none;
  }
}

.txt_left {
  text-align: left;
}

.txt_right {
  text-align: right;
}

.txt_center {
  text-align: center;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lists,
.numberlists {
  list-style-position: outside;
  margin-left: 1.2rem;
}
.lists li,
.numberlists li {
  margin-bottom: 0.8rem;
}

.lists li {
  list-style: disc;
}

.numberlists li {
  list-style: decimal;
}
.numberlists li ol {
  padding: 0 2rem;
  margin: 1.2rem 0;
  border-left: solid 4px var(--color-bg-navigray);
}
.numberlists li ol li {
  list-style-type: lower-latin;
}
.numberlists li ol li ol {
  padding: 0 2rem;
  margin: 1.2rem 0;
  border-left: solid 3px var(--color-bg-navigray);
}
.numberlists li ol li ol li {
  list-style: lower-roman;
}

dl.lists dt {
  font-weight: bold;
}
dl.lists dt::before {
  content: "・";
}
dl.lists dd {
  margin-bottom: var(--min-gap);
}

.u-mb40 {
  margin-bottom: 40px;
}

/*!
component > c-cta
------------------------------
*/
/*
フォントサイズ計算 */
.c-CTA_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.1vw;
  gap: 0;
}
.c-CTA_tel span {
  font-family: var(--font-family-gothic);
}

.c-CTA_tel a.tel_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-family: var(--font-family-english);
  gap: 0.4rem;
}
.c-CTA_tel a.tel_number::before {
  display: inline-block;
  width: 1.5rem;
  height: 2.625rem;
  content: "";
  background-image: url(/assets/images/icon_tel.svg);
  background-position: center;
}

.c-CTA_tel__keycolor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.1vw;
  color: #fff;
  background-color: var(--color-main);
  gap: 0;
}
.c-CTA_tel__keycolor span {
  font-family: var(--font-family-gothic);
}
.c-CTA_tel__keycolor a.tel_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-family: var(--font-family-english);
  gap: 0.4rem;
}
.c-CTA_tel__keycolor a.tel_number::before {
  display: inline-block;
  width: 1.5rem;
  height: 2.625rem;
  content: "";
  background-image: url(/assets/images/icon_tel_white.svg);
  background-position: center;
}

/*!
フォントサイズ
*/
a.tel_number {
  font-size: clamp(1.5rem, 24px, 1.5rem);
}
a.tel_number span {
  font-size: clamp(16px, 16px, 1rem);
}

/*!
component > button
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
/*
ベースパーツ */
.c-btn__CTA a, .c-btn__header a {
  border-radius: var(--radius-btn-round, 50px);
  z-index: auto;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* btn/txt-in-btn */
  font-family: var(--font-family-gothic, "Noto Sans JP");
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.c-btn__header a {
  background: var(--color-btn-base, #ff8526);
  border: 3px solid var(--color-btn-base, #ff8526);
  color: var(--color-text-inBG, #fff);
  -webkit-box-shadow: 2px 4px 0 0 var(--color-btn-shadow, #ffb67d);
          box-shadow: 2px 4px 0 0 var(--color-btn-shadow, #ffb67d);
}
.c-btn__header a:hover {
  background: var(--color-text-inBG, #fff);
  color: var(--color-btn-base, #ff8526);
  border-color: var(--color-btn-base, #ff8526);
}

.c-btn__CTA a {
  background: var(--color-text-inBG, #fff);
  border: 3px solid var(--color-text-inBG, #fff);
  color: var(--color-btn-base, #ff8526);
  -webkit-box-shadow: 2px 4px 0 0 var(--color-btn-shadow__inBG, #e06c00);
          box-shadow: 2px 4px 0 0 var(--color-btn-shadow__inBG, #e06c00);
}
.c-btn__CTA a:hover {
  background: rgb(255, 161.6728110599, 89);
  color: var(--color-text-inBG, #fff);
}

.c-btn__header a {
  padding: 8px 40px;
  margin: 0.5rem 2rem 0.5rem 0;
  max-width: 250px;
  font-size: 1.125rem;
  letter-spacing: 1.1px;
  white-space: nowrap;
}

.c-btn__CTA a {
  padding: 16px 60px;
  margin: 0.5rem 2rem 0.5rem 0;
  max-width: 300px;
  font-size: 1.375rem;
  letter-spacing: 1.1px;
  white-space: nowrap;
}

.c-btn__header a {
  /* Layout header-CTA */
}

.c-btn__CTA a {
  /* Layout CTA-section-btn */
}

.p-btn__CTA, .p-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.p-btn__CTA .c-shoudler, .p-btn .c-shoudler {
  position: relative;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0.05em;
}

.p-btn .c-shoudler {
  color: var(--color-btn-base);
}
.p-btn .c-shoudler::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  left: -48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(/assets/images/shoulder-line01.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.p-btn .c-shoudler::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  right: -48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(/assets/images/shoulder-line02.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.p-btn__CTA .c-shoudler {
  color: var(--color-text-inBG, #fff);
}
.p-btn__CTA .c-shoudler::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 36px;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(/assets/images/shoulder-line01w.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.p-btn__CTA .c-shoudler::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 36px;
  right: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(/assets/images/shoulder-line02w.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*
内部パーツ */
@media screen and (max-width: 800px) {
  .c-btn {
    display: block;
  }
  .c-btn + .c-btn {
    margin-bottom: 2rem;
  }
}
/*!
component > title
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
.wrap_ptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

/*
  FVコピー */
.c-title_lv1 {
  display: inline;
  background-color: #fff;
  line-height: 1.7;
  font-weight: 400;
  color: var(--color-text-main);
}

.c-title_lv1 {
  letter-spacing: 8px;
  font-size: var(--font-size-cap-01);
}
@media screen and (max-width: 600px) {
  .c-title_lv1 {
    font-size: 10vw;
  }
}

.c-title__voice, .c-title__step, .c-title__sort, .c-title__latest, .c-title_lv2__line, .c-title_lv2__bg, .c-title_lv2 {
  letter-spacing: 0.06em;
  color: var(--color-text-main);
  font-weight: 700;
  font-size: 2rem;
}

.c-title_lv2 {
  color: var(--color-text-main);
}

.c-title_lv2__bg {
  color: var(--color-text-inBG, #fff);
}

.c-title_lv2__line {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--color-text-main);
  padding: 1rem;
  border-bottom: solid 1px var(--color-text-main);
}

.c-title__latest {
  display: inline-block;
  color: var(--color-text-gray);
  text-align: center;
  padding: 2rem 5rem;
  background-image: url(/assets/images/icon/new.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

.c-title__sort {
  display: inline-block;
  color: var(--color-text-gray);
  text-align: center;
  padding: 2rem 5rem;
  background-image: url(/assets/images/icon/search.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

.c-title__step {
  display: inline-block;
  color: var(--color-text-gray);
  text-align: center;
  padding: 2rem 5rem;
  background-image: url(/assets/images/icon/step.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

.c-title__voice {
  display: inline-block;
  color: var(--color-text-gray);
  text-align: center;
  padding: 2rem 5rem;
  background-image: url(/assets/images/icon/voice.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

.c-title_lv3 {
  letter-spacing: 2px;
  color: var(--color-main);
  font-size: 1.5rem;
}

.themeCopy, .subtitle {
  color: var(--color-main);
  font-size: max(var(--font-size-cap-lg01), 2rem);
  letter-spacing: 2px;
}

.themeCopy {
  font-weight: 400;
  margin-bottom: 0.6rem;
}
@media screen and (min-width: 600px) {
  .themeCopy {
    margin-bottom: 1rem;
  }
}

/*!
component > c-job-card
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
.c-job-card {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background-color: var(--color-base-white);
  border: 1px solid #ccc;
  border-radius: var(--radius-card-md, 15px);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.c-job-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (min-width: 1080px) {
  .c-job-card {
    width: calc((100% - var(--row-gap) * 2) / 3);
    max-width: 300px;
  }
}
.c-job-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-job-card .card-body {
  color: var(--color-text-gray);
  padding: 10px;
}
.c-job-card .card-body .job-title {
  font-size: var(--font-size-md);
  font-weight: bold;
}
.c-job-card .card-body .job-info {
  /* オートレイアウト */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.c-job-card .card-body .job-info dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-job-card .card-body .job-info dl dt {
  position: relative;
}
.c-job-card .card-body .job-info dl dt::after {
  content: "/";
  margin: 0 5px;
}

.wrap_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* a.tag */
}
.wrap_tags .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  font-weight: bold;
  white-space: nowrap;
  background-color: var(--color-btn-base);
  color: var(--color-text-inBG);
  border-radius: var(--radius-mini-tag);
}

/*!
component > c-checklist
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
.c-checklist li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.5rem;
  letter-spacing: 0.06em;
  color: var(--color-text-gray, #6b7280);
  font-size: 2rem;
  font-weight: 700;
  gap: 10px;
}

/*!
component > c-stepBox
------------------------------
お仕事開始までの流れ
*/
/*
ピクセルからのフォントサイズ計算
*/
.c-stepBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  max-width: var(--content-width-s, 920px);
  padding: 50px;
  border: 1px solid var(--color-text-gray, #6b7280);
  border-radius: var(--radius-box-sm, 8px);
  background: var(--color-base-01, #fff);
  gap: 40px;
}
@media screen and (min-width: 1140px) {
  .c-stepBox {
    width: 100%;
  }
}
.c-stepBox h3.stepNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px 0 0;
  color: var(--color-title-step);
  font-family: var(--font-family-price-02);
  font-weight: bold;
  line-height: normal;
}
.c-stepBox h3.stepNumber .title {
  font-size: 1.875rem;
}
.c-stepBox h3.stepNumber .number {
  font-size: 3.125rem;
}
.c-stepBox .stepContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-width: 600px;
  padding: 0;
  gap: var(--row-gap);
}
.c-stepBox .stepContent img {
  width: 160px;
  height: 160px;
  border: solid 1px var(--color-step-border);
}
@media screen and (max-width: 600px) {
  .c-stepBox .stepContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-stepBox .stepContent img {
    width: 100%;
    height: auto;
  }
}
.c-stepBox .stepContent .stepBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  gap: 10px;
}
.c-stepBox .stepContent .stepBody H4 {
  color: var(--color-text-main);
  font-size: 1.875rem;
}

/*!
component > c-voice-card
------------------------------
実際の登録者の声(voice) カード単体
*/
/*
ピクセルからのフォントサイズ計算
*/
.c-voice-card {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background-color: var(--color-base-white);
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 1080px) {
  .c-voice-card {
    width: calc((100% - var(--row-gap) * 2) / 3);
  }
}
.c-voice-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.c-voice-card img {
  width: 100%;
  height: auto;
  border-radius: 0 var(--radius-card-xl, 40px);
}
.c-voice-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* 左寄せ */
  line-height: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 150%;
  gap: 10px;
}
.c-voice-card .card-body > * {
  width: 100%;
}
.c-voice-card .card-body .voice-name {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--color-btn-txt, #fff);
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 8px var(--spacing-min-gap, 18px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: var(--radius-card-xl, 40px) 0px var(--radius-card-md, 15px) 0px;
  background: var(--color-btn-base, #ff8526);
}
.c-voice-card .card-body .voice-txt {
  color: var(--color-text-gray);
}

/*!
component > link
------------------------------
*/
.anchor {
  padding-top: 80px;
  margin-top: -80px;
}
@media screen and (min-width: 1000px) {
  .anchor {
    padding-top: 150px;
    margin-top: -150px;
  }
}

/* テキストリンク */
a.textlink {
  padding-right: 2.6rem;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 1rem;
}

a.textlink {
  background: url(../img/common/icon-pdf-hover.svg) right center no-repeat;
  background-size: 1.6rem;
}

/* 「続きを読む」やブログタイトルなどの＞つきテキストリンク */
.c-arrow-txtlink {
  text-align: right;
  padding-right: 15px;
  position: relative;
  color: var(--color-main);
}
@media screen and (max-width: 1080px) {
  .c-arrow-txtlink {
    text-align: left;
  }
}
.c-arrow-txtlink::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

a.textlink:hover,
a.c-arrow-txtlink {
  color: var(--color-btn-base);
}
a.textlink:hover::after,
a.c-arrow-txtlink::after {
  border-color: var(--color-btn-base);
}

/* リンク範囲をposition:relative;した親コンテナまで広げる */
a.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

a.stretched-link:hover::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.position-static {
  position: static !important;
}

/*!
component > c-slider
------------------------------
*/
.c-slider .swiper-slide {
  padding-top: 40px;
}

/*!
component > breadcrumb
------------------------------
*/
.c-breadcrumb-arrow {
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main);
}

.c-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  color: var(--color-main);
  font-weight: bold;
}
.c-breadcrumb li {
  position: relative;
  margin-bottom: 5px;
  padding-right: 2.5rem;
  white-space: nowrap;
  font-size: 1.2rem;
}
.c-breadcrumb li::after {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  width: 0.6rem;
  height: 0.6rem;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: var(--color-main);
  border-top: solid 1px;
  border-right: solid 1px;
}
.c-breadcrumb li:last-of-type:after {
  display: none; /* 最後のみ非表示 */
}

/*!
project > p-swiperfv
------------------------------
背景スライダーのファーストビュー
*/
/*
ピクセルからのフォントサイズ計算
*/
.swiper-wrapper .slide1 {
  background-image: url("/assets/images/bg_fv01@2x.png");
}
.swiper-wrapper .slide2 {
  background-image: url("/assets/images/bg_fv02@2x.png");
}
.swiper-wrapper .slide3 {
  background-image: url("/assets/images/bg_fv03@2x.png");
}

.swiper-wrapper .slide1,
.swiper-wrapper .slide2,
.swiper-wrapper .slide3 {
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* スライドの高さを調整 */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media screen and (max-width: 1080px) {
  .swiper-wrapper .slide1,
  .swiper-wrapper .slide2,
  .swiper-wrapper .slide3 {
    background-position: top center;
  }
}

.fv-contents {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* 背景スライダーの前面に表示する */
}
.fv-contents .l-inner,
.fv-contents .l-right_side_overinner,
.fv-contents .wrap_catchcopy__FV {
  z-index: 1;
}

.fv-contents .wrap_catchcopy__FV {
  margin-top: 80px;
  padding-top: clamp(100px, 13vw, 100px);
  padding-bottom: 1.5rem;
  height: 100%;
}
.fv-contents .subcopy__FV {
  display: inline;
  background-color: #fff;
  font-size: var(--font-size-cap-05);
  padding: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.21em;
  margin-top: 30px;
}

/*!
project > p-introduction
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
/*!
project > p-cta
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
/*!
p-cta-section
------------------------------
*/
.p-cta-section {
  text-align: center;
  background: var(--base-grad-cta);
}
.p-cta-section .flexClm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
}

.p-cta-section .btn {
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .p-cta-section .btn {
    width: 50%;
  }
}

/*!
project > p-latest-cards
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
.p-latest-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--row-gap);
}
@media screen and (max-width: 1080px) {
  .p-latest-cards {
    gap: var(--gap-sp);
  }
}

/*!
project > p-sort-group
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
.p-sort-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--min-gap);
  gap: var(--row-gap);
  /* Filter Box
     .p-filterBox */
}

/* Filter Box */
.p-filterBox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 200px;
  margin-bottom: 1rem; /* ボックス間のスペース */
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color-text-gray);
  border: 1px solid var(--color-text-gray);
  border-radius: var(--radius-box-sm);
  background-color: var(--color-base-white);
  font-size: 0.9rem;
  font-weight: 400;
}
.p-filterBox .selected-option {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 700;
}
.p-filterBox .arrow {
  width: 0.4rem;
  height: 0.4rem;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid var(--color-text-gray);
  border-bottom: 2px solid var(--color-text-gray);
}
.p-filterBox .dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  border: 1px solid var(--color-text-gray);
  border-radius: var(--radius-box-xs);
  background-color: var(--color-base-white);
}
.p-filterBox .dropdown .dropdown-item {
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: left;
  color: var(--color-text-gray);
  border: none;
  background-color: var(--color-base-white);
}
.p-filterBox .dropdown .dropdown-item:hover {
  background-color: var(--color-secondary-hover);
}
.p-filterBox[role=combobox] {
  position: relative;
}
.p-filterBox[aria-expanded=true] .arrow {
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}
.p-filterBox.active .dropdown {
  display: block;
}

/*!
project > p-step-group
------------------------------
お仕事開始までの流れ
*/
/*
ピクセルからのフォントサイズ計算
*/
.p-step-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  gap: 48px;
}
.p-step-group > *:not(:last-child) {
  position: relative;
}
.p-step-group > *:not(:last-child)::after {
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 24px solid var(--color-title-step);
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
}

/*!
project > p-voice-group
------------------------------
実際の登録者の声(voice)
*/
/*
ピクセルからのフォントサイズ計算
*/
.p-voice-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--row-gap);
  margin-bottom: var(--min-gap);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 1079px) {
  .p-voice-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--gap-sp);
  }
}

/*!
layout > header
------------------------------
*/
/* 
** lg:1140 **
** sm:600 **
** md:800px **
*/
/*
ピクセルからのフォントサイズ計算
*/
.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
@media screen and (min-width: 1080px) {
  .header {
    height: 90px;
  }
  .header .SPnavi_footer {
    display: none;
  }
}

.headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*! 
  レイアウトとビジブルの切り替え */
}
.headerInner .siteID {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  /*!
  @media screen and (max-width: 1000px) {
    height: 90px;
  }
  */
}
@media screen and (max-width: 1079px) {
  .headerInner .siteID {
    height: 90px;
  }
}
@media screen and (min-width: 390px) and (max-width: 500px) {
  .headerInner .siteID {
    width: 18vmin;
  }
}
.headerInner .siteID svg {
  margin: 0.6vw 1.5vw;
}
.headerInner .siteID svg path {
  fill: var(--color-primary-link);
}
.headerInner .headerCTA__PC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  gap: 40px;
}
@media screen and (max-width: 1079px) {
  .headerInner .headerCTA__PC {
    display: none;
  }
}
.headerInner .headerCTA__SP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 70px;
  gap: 40px;
}
@media screen and (max-width: 600px) {
  .headerInner .headerCTA__SP {
    gap: 1vmin;
    scale: 0.7;
    padding-right: 10px;
  }
}
@media screen and (max-width: 390px) {
  .headerInner .headerCTA__SP {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .headerInner .headerCTA__SP {
    display: none;
  }
}

/*! 
ヘッダーナビ */
@media screen and (min-width: 1080px) {
  nav.wrapperNavi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 1079px) {
  nav.wrapperNavi {
    position: fixed;
    z-index: 200;
    /* 右から出てくる */
    top: 90px;
    right: -100vw;
    overflow-y: auto; /* メニューが多ければスクロール  */
    width: 100vw;
    height: 100vh;
    padding-top: 22px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
    color: var(--color-primary-link);
  }
}

ul.headerNavi {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}
ul.headerNavi > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1079px) {
  ul.headerNavi > li {
    text-align: left;
  }
  ul.headerNavi .SPonly {
    display: block;
  }
  ul.headerNavi .topicon {
    display: none;
  }
  ul.headerNavi > li a {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0.5rem 0 0.5rem 20%;
    color: var(--color-primary-link);
  }
  ul.headerNavi > li a:hover {
    color: var(--color-primary-hover);
    border-bottom: none;
  }
}
@media screen and (min-width: 1080px) {
  ul.headerNavi {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 90px;
  }
  ul.headerNavi .SPonly {
    display: none;
  }
  ul.headerNavi > li a {
    display: inline-block;
    width: 100%;
    padding-right: clamp(0.5rem, 48px, 2.4vw);
    color: #fff;
    text-shadow: 0px 0px 16px rgba(0, 46, 91, 0.4);
  }
}
ul.headerNavi > li a:hover {
  color: var(--color-primary-hover);
}

ul.headerNavi li li {
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
ul.headerNavi li li a {
  line-height: 3rem;
}
@media screen and (min-width: 1080px) {
  ul.headerNavi li li a {
    display: inline-block;
    padding: 0 0.5rem;
    color: var(--color-primary-link);
    border-top: solid 2px #fff;
    background-color: var(--color-bg-navigray);
  }
  ul.headerNavi li li a:hover {
    color: var(--color-primary-hover);
  }
}

ul.headerNavi li:hover > ul > li {
  overflow: visible;
  height: 3rem;
}

@media screen and (max-width: 1079px) {
  ul.headerNavi li li {
    height: 0;
  }
  ul.headerNavi li li a {
    display: block;
    padding: 0 0.5rem 0 23%;
    color: #fff;
    background-color: var(--color-btn-base);
    line-height: 3rem;
  }
  ul.headerNavi li li a::before {
    content: " -  ";
  }
  ul.headerNavi li li a:hover {
    color: rgb(0, 71.7802197802, 142);
  }
  ul.headerNavi li:hover > ul > li {
    overflow: visible;
    height: 2.625rem;
    height: 3rem;
  }
}
/*! 
SPnavi
ハンバーガーボタン base */
@media screen and (min-width: 1080px) {
  .btn__SPnavi {
    display: none;
  }
}
@media screen and (max-width: 1079px) {
  .btn__SPnavi {
    position: absolute;
    z-index: 300;
    top: 0;
    right: 0;
    width: 70px;
    height: 90px;
    cursor: pointer;
    background-color: transparent;
  }
  /* SPnavi-open時 */
}
@media screen and (max-width: 1079px) and (min-width: 390px) and (max-width: 600px) {
  .btn__SPnavi {
    width: 50px;
    height: 50px;
  }
  a.tel_number {
    font-size: 5vmin;
  }
}
@media screen and (max-width: 1079px) {
  .SPnavi_border {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 0.6875rem;
  }
  .SPnavi_border {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary-link);
  }
  .SPnavi_border_top {
    top: 35px;
  }
  .SPnavi_border_center {
    top: 45px;
  }
  .SPnavi_border_bottom {
    top: 55px;
  }
  .bg-black {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
    background-color: #333;
  }
  .SPnavi-open .header {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    background-color: #fff;
  }
  .SPnavi-open .headerInner {
    position: relative;
  }
  .SPnavi-open .headerInner .siteID__SPnavi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  .SPnavi-open .headerInner .siteID__SPnavi img {
    -ms-flex-item-align: start;
        align-self: start;
    width: auto;
    height: 60px;
    padding: 5px 8px;
  }
  .SPnavi-open .headerInner .siteID__SPnavi svg {
    color: fill(var(--color-primary-link));
  }
  .SPnavi-open .headerInner .siteID__SPnavi img {
    height: 90px;
  }
  .SPnavi-open .headerInner .siteID__SPnavi svg {
    color: fill(var(--color-primary-link));
  }
  .SPnavi-open nav.wrapperNavi {
    right: 0;
    opacity: 1;
    background-color: #fff;
  }
  .SPnavi-open .bg-black {
    visibility: visible;
    opacity: 0.8;
  }
  .SPnavi-open .SPnavi_border_top {
    top: 45px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .SPnavi-open .SPnavi_border_center {
    left: 50%;
    width: 0;
  }
  .SPnavi-open .SPnavi_border_bottom {
    top: 45px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
.header.scrolled {
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.header.scrolled ul.headerNavi li a {
  color: var(--color-primary-link);
  text-shadow: none;
  -webkit-transition: color 0.5s ease, text-shadow 0.5s ease;
  transition: color 0.5s ease, text-shadow 0.5s ease;
}
.header.scrolled .siteID svg path {
  fill: var(--color-primary-link);
}
.header.scrolled .btn__SPnavi {
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.header.scrolled .SPnavi_border {
  background-color: var(--color-primary-link);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*!
フォントサイズ
*/
ul.headerNavi li {
  letter-spacing: 0.1em;
  font-size: clamp(0.8rem, 16px, 1.2rem);
  text-align: center;
}
ul.headerNavi li .engTxt {
  font-size: clamp(0.7vw, 14px, 1rem);
  font-family: var(--font-family-english);
}
ul.headerNavi li li {
  font-size: 1rem;
}

@media screen and (min-width: 1080px) {
  ul.headerNavi li {
    letter-spacing: 0.1em;
    font-size: 16px;
  }
  ul.headerNavi li li {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
}
/*!
layout > main
------------------------------

*/
main {
  position: relative;
  z-index: auto;
}

/*
  セクション背景 */
.bg_Rtop {
  width: 100%;
  background-image: url(/assets/images/bg_Rtop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
}

.bg_leafblob {
  width: 100%;
  background-image: url(/assets/images/bg_leafblob.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}

.bg_L_flower {
  width: 100%;
  background-image: url(/assets/images/bg_L_flower.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}

.bg_R_blob {
  width: 100%;
  background-image: url(/assets/images/bg_R_blob.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
}

.bg_L_bottom {
  width: 100%;
  background-image: url(/assets/images/bg_L_bottom.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}

.copy3 {
  font-size: 1.2rem;
  line-height: 1.5;
}

.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  padding-bottom: var(--contents-gap);
}

.clm-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--contents-gap);
}

.clm-gap__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
}

.min-gap {
  margin-bottom: var(--min-gap);
}

.top-gap {
  padding-top: var(--gap);
}

.bottom-gap {
  padding-bottom: var(--gap);
}

.row_btn__center {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3vw;
}
@media screen and (min-width: 800px) {
  .row_btn__center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.row_rev_clm, .row_clm {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vw;
}

@media screen and (min-width: 1080px) {
  .row_clm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1080px) {
  .row_rev_clm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.row_rev_clm .width_60p,
.row_rev_clm .txtbox,
.row_clm .width_60p,
.row_clm .txtbox {
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .row_rev_clm .width_60p,
  .row_rev_clm .txtbox,
  .row_clm .width_60p,
  .row_clm .txtbox {
    width: 60%;
  }
}

.width_40p {
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .width_40p {
    width: 40%;
  }
}

.flex1 {
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .flex1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.txtbox > *:not(:last-child) {
  margin-bottom: var(--min-gap);
}

/*!
p-intro-section
------------------------------
*/
.p-intro-section #intro01 img {
  width: 100%;
  max-width: 500px;
}
@media screen and (min-width: 1080px) {
  .p-intro-section #intro01 img {
    width: 293px;
  }
}
.p-intro-section #intro02 img {
  width: 100%;
  max-width: 500px;
}
@media screen and (min-width: 1080px) {
  .p-intro-section #intro02 img {
    width: 388px;
  }
}
@media screen and (max-width: 1080px) {
  .p-intro-section .imgbox {
    text-align: center;
  }
}

/*!
layout > l-container
コンテンツブロック、コンテナ
------------------------------
*/
.l-inner__FV,
.l-inner {
  width: 97%;
  max-width: var(--content-width, 1140px);
  margin: 0 auto;
  padding: var(--contents-gap) 0;
}
@media screen and (max-width: 600px) {
  .l-inner__FV,
  .l-inner {
    width: 97%;
    padding: var(--contents-gap) 2vw;
  }
}
@media screen and (max-width: 1140px) {
  .l-inner__FV,
  .l-inner {
    padding: var(--contents-gap) 20px;
  }
}

.l-inner > *:not(:last-child) {
  margin-bottom: var(--gap);
}

.scrollbar_hidden {
  overflow: hidden;
}

.l-clm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-clm__center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-clm__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-clm__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*!
layout > footer
------------------------------
*/
/*
ピクセルからのフォントサイズ計算
*/
.l-footer {
  display: block;
  padding-top: var(--min-gap);
  padding-bottom: var(--min-gap);
  text-align: center;
  background: var(--color-footer-base);
}
.l-footer .copyright {
  letter-spacing: normal;
  color: var(--color-text-default, #111827);
  font-size: var(--font-size-default);
  font-style: normal;
  line-height: 150%;
}

/* @use "header/header";
@use "header/header-nav";
@use "footer/footer";
@use "footer/footer-nav";
 *//*# sourceMappingURL=style.css.map */