@use "../global" as g;

/*!
project > p-introduction
------------------------------
*/

/*
ピクセルからのフォントサイズ計算
*/
@use "sass:math";
$baseFontSize: 16;

@function rem($pixels) {
	@return math.div($pixels, $baseFontSize) * 1rem;
}
// pxelsize => vw
// font-size: vw(16, 1920);
@function vw($pxelsize, $windowSize) {
	@return math.div($pxelsize, $windowSize) * 100vw;
}