@use "../global" as g;

/*!
component > button
------------------------------
*/

/*
ピクセルからのフォントサイズ計算
*/
@use "sass:math";

$baseFontSize: 16;

@function rem($pixels) {
  @return math.div($pixels, $baseFontSize) * 1rem;
}
// pxelsize => vw
// font-size: vw(16, 1920);
@function vw($pxelsize, $windowSize) {
  @return math.div($pxelsize, $windowSize) * 100vw;
}

/*
ベースパーツ */
%btnBase {
  border-radius: var(--radius-btn-round, 50px);
  z-index: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.3s;
  /* btn/txt-in-btn */
  font-family: var(--font-family-gothic, "Noto Sans JP");
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

%btnColor {
  background: var(--color-btn-base, #ff8526);
  border: 3px solid var(--color-btn-base, #ff8526);
  color: var(--color-btn-txt, #fff);
  box-shadow: 2px 4px 0 0 var(--color-btn-shadow, #ffb67d);

  &:hover {
    background: var(--color-btn-txt, #fff);
    color: var(--color-btn-base, #ff8526);
    border-color: var(--color-btn-base, #ff8526);
  }
}

.c-btn__header a {
  // @extend %btnBase;
  border-radius: var(--radius-btn-round, 50px);
  z-index: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.3s;
  /* btn/txt-in-btn */
  font-family: var(--font-family-gothic, "Noto Sans JP");
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  @extend %btnColor;

  /* Layout CTA */
  padding: 12px 40px;
  max-width: 300px;
  font-size: 22px;
  letter-spacing: 1.1px;
  white-space: nowrap;
}

/*
内部パーツ */

%btn__afterBase {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

// 右矢印バージョン
%c-btn_arrow {
  width: 5px;
  height: 10px;
  right: 50px;
  background-image: url(/assets/images/icon_caret_right.svg);
  background-position: center;
}
%c-btn_arrow__detail {
  width: 4px;
  height: 8x;
  right: 75px;
  background-image: url(/assets/images/Icon_detail_arrow_right.svg);
  background-position: center;
}

// %c-btn_arrow {
// width: 18px;
// height: 18px;
// border-top: 4px solid #fff;
// border-right: 4px solid #fff;
// transform: rotate(45deg);
// right: 20px;

// @media screen and (max-width: 300px) {
//   width: 16px;
//   height: 16px;
// }
// }

%c-btn_pdf {
  width: 18px;
  height: 18px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
  right: 20px;

  @media screen and (max-width: 300px) {
    width: 16px;
    height: 16px;
  }
}

%c-btn_arrow__white {
  width: 18px;
  height: 18px;
  border-top: 4px solid var(--color-btn-base);
  border-right: 4px solid var(--color-btn-base);
  transform: rotate(45deg);
  right: 20px;

  @media screen and (max-width: 300px) {
    width: 16px;
    height: 16px;
  }
}

.c-btn {
  @extend %btnBase;
  // @extend %btnColor;

  opacity: 1;
}

.c-btn_wrap__CTA_tel {
  @extend %btnBase;
  // @extend %btnColor;
  // z-index: 0;
  opacity: 1;
  background-color: var(--color-main);
  color: #fff;

  // .c-CTA_tel a.tel_number::before
  .c-CTA_tel a.tel_number::before {
    background-image: url(/assets/images/icon_tel_white.svg);
  }

  &:hover {
    // opacity: 0.8;
    // background-color: var(--color-btn-base__hover);
    background-color: lighten(#20868a, 10%);
  }
}

.c-btn__contact {
  @extend %btnBase;
  @extend %btnColor;
  padding: 18px 71px 18px 50px;
  font-size: rem(20);
  // z-index: 0;
  opacity: 1;

  &::after {
    @extend %btn__afterBase;
    @extend %c-btn_arrow;
  }
}

.c-btn__detail {
  @extend %btnBase;
  @extend %btnColor__detail;
  padding: 13px 95px 13px 75px;
  font-size: rem(14);
  // z-index: 0;
  opacity: 1;
  border: solid 1px var(--color-main);

  &::before {
    @extend %btn__afterBase;
    @extend %c-btn_arrow__detail;
  }
  // &:hover {
  //   background-color: var(--color-bg-gray);
  // }
}

.c-btn__pdf {
  @extend %btnBase;
  @extend %btnColor;
  padding: 1rem 1.2rem;
  width: 90%;
  font-size: clamp(1.1rem, 2.6vw, 1.3rem);
  margin: 2rem auto 0 auto;
  // z-index: 0;
  opacity: 1;

  &::after {
    content: " -- ";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  @media screen and (min-width: 340px) {
    // width: clamp(100px, 70%, 90vw);
    width: clamp(100px, 90vw, 420px);
  }

  @include g.mq(md) {
    width: clamp(100px, 45%, 90vw);
  }
}
@include g.mq_max(md) {
  .c-btn {
    display: block;
  }

  .c-btn + .c-btn {
    margin-bottom: 2rem;
  }
}

.c-btn_CTA_tel {
  // @extend %CTA_tel_base;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;
  color: #fff;
  background-color: var(--color-main);
  padding: 0 1rem;

  gap: 0;

  span {
    font-family: var(--font-family-gothic);
  }

  a.tel_number {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    font-family: var(--font-family-english);

    gap: 0.4rem;

    &::before {
      display: inline-block;
      width: rem(24);
      height: rem(42);
      content: "";
      background-image: url(/assets/images/icon_tel_white.svg);
      background-position: center;
    }
  }
}

// .c-btn + .c-btn {
//   margin-left: rem(80);
//   margin-bottom: rem(80);
// }

// ヘッダーのお問い合わせボタン
.c-btn__headerContact {
  @extend %btnBase;
  @extend %btnColor;
  display: inline-flex;
  padding: 0 rem(22);
  width: max(16%, 128px);
  height: 80px;
  font-size: rem(14);
  flex-direction: column;
  gap: 0.6vw;

  // メールアイコン
  &::before {
    display: inline-block;
    width: rem(30);
    height: rem(24);
    content: "";
    background-image: url(/assets/images/icon_email.svg);
    background-position: center;
  }
}

.c-btn__footerContact {
  @extend %btnBase;
  letter-spacing: 0.03em;
  padding: 1.4rem 1.2rem 1.4rem 5rem;

  @include g.mq(md) {
    padding: 1.4rem 1.2rem 1.4rem 3.6rem;
  }

  width: 100%;
  max-width: 400px;
  font-size: clamp(1rem, 1.6vw, 1.3rem);
  margin: 2rem auto 0 auto;
  // z-index: 0;
  opacity: 1;
  background: var(--color-btn-base) url(/img/bk_footercontact.svg) left 2rem
    center no-repeat;
  color: #fff;

  @media screen and (min-width: 1160px) and (max-width: 1400px) {
    background-position: left 1rem center;
  }

  &:hover {
    // background-color: var(--color-btn-base__hover);
    background-color: lighten(#20868a, 10%);
  }

  .nowrap {
    white-space: nowrap;
  }
}

.c-btn__contact-section {
  @extend %btnBase;
  @extend %btnColor__white;
  display: inline-flex;
  padding: 1rem;
  width: 100%;
  font-size: clamp(1.1rem, 2.6vw, 1.3rem);
  margin: 2rem auto 0 auto;

  &::after {
    @extend %btn__afterBase;
    //content: "";
    @extend %c-btn_arrow__white;
    right: 5vw;

    @media screen and (max-width: 900px) {
      right: 5%;
    }
  }
}

.c-btn__inLineupcard {
  @extend %btnBase;
  @extend %btnColor;
  position: static !important;
  padding: 10px 0;
  width: 100%;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  // z-index: 0;
  opacity: 1;

  span {
    position: relative;
    padding-right: 35px;
    padding-left: 15px;
    white-space: nowrap;
  }

  span::after {
    @extend %btn__afterBase;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    right: 10px;
  }
}

.c-arrow-btn {
  align-self: end;
  justify-self: end;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-btn-base);
  color: #fff;
  padding: 0.8rem 1rem 0.8rem 0.7rem;

  &::after {
    content: "";
    margin: auto;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
  }
}
