@use "../global" as g;

/*!
component > c-cta
------------------------------
*/

/*
フォントサイズ計算 */
$baseFontSize: 16;

@function rem($pixels) {
	@return calc($pixels / $baseFontSize * 1rem);
}

// 電話番号と受付時間

%CTA_tel_base {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	flex-direction: column;
	margin-left: 0.1vw;

	gap: 0;

	span {
		font-family: var(--font-family-gothic);
	}
}

.c-CTA_tel {
	@extend %CTA_tel_base;

	a.tel_number {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		letter-spacing: 0.1rem;
		font-family: var(--font-family-english);

		gap: 0.4rem;

		&::before {
			display: inline-block;
			width: rem(24);
			height: rem(42);
			content: "";
			background-image: url(/assets/images/icon_tel.svg);
			background-position: center;
		}
	}
}

.c-CTA_tel__keycolor {
	// @extend %CTA_tel_base;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	flex-direction: column;
	margin-left: 0.1vw;
	color: #fff;
	background-color: var(--color-main);

	gap: 0;

	span {
		font-family: var(--font-family-gothic);
	}

	a.tel_number {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		text-align: center;
		white-space: nowrap;
		letter-spacing: 0.1rem;
		font-family: var(--font-family-english);

		gap: 0.4rem;

		&::before {
			display: inline-block;
			width: rem(24);
			height: rem(42);
			content: "";
			background-image: url(/assets/images/icon_tel_white.svg);
			background-position: center;
		}
	}
}

/*!
フォントサイズ
*/

a.tel_number {
	// font-size: rem(24);
	font-size: clamp(1.5rem, 24px, 1.5rem);
	span {
		font-size: clamp(16px, 16px, 1rem);
	}
}