@use "../global" as g;

/*!
animation > test_sample
アニメーションテスト用
------------------------------
*/

.c-btn__sample {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

// ボタン基本コード
.c-btn__sample {
  display: block;
  max-width: 300px;
  padding: 15px 40px;
  text-align: center;
  color: #fff;
  border: 2px solid #ff701e;
  border-radius: 60px;
  background: #ff701e;
  font-weight: bold;
}

// アニメーション前
.c-btn__sample.slide {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #ff701e;
  background: #fff;
}

// スライドイン
.c-btn__sample.slide::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transform: scale(0, 1);
  transform-origin: left top;
  background: #6d1eff;
}

// ホバー時の文字
.c-btn__sample.slide:hover {
  color: #fff;
}
.c-btn__sample.slide:hover::after {
  transform: scale(1, 1);
}
