@use "../global" as g;

/*!
animation > text-animation
------------------------------
*/
.has-animation-title-fade-in {
	transition: opacity 0.3s;
	opacity: 0;
}

.is-animation-title-fade-in-active {
	opacity: 1;
}

///
/// スライドイン
///
.anim_box.slidein.is-animated {
	animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(180px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
	}
	40%, 100% {
		opacity: 1;
	}
}